<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' \>
  <title>Home</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootswatch Style Sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
    integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
  <!-- Date Picker Style Sheet -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<!--Navigation bar-->
<div id="nav-placeholder"></div>
<!--end of Navigation bar-->

<body>
  <div class='container'>

    <!--Header-->
    <div class='row'>
      <div class='col-md-12'>
        <h2 class='m-4'>Daily Normals for the Southeast United States</h2>
      </div>
    </div>

    <!-- Search Options and Plot -->
    <div class='row'>
      <div class='col-md-4'>
        <div class='card'>
          <div class='card-body'>
            <h5>Search for Daily Normals</h5>
            <hr>
            <h6>Zipcode:</h6>
            <input type='text' id='zipcode' value=''/>
            <br>
            <br>
            <button type='button' class='btn btn-dark p-2' id='zip-search'>All Normals</button>
            <button type='button' class='btn btn-dark p-2' id='add-dates'>Select Date Range</button>
            <br>
            <br>
            <div class='d-none' id='date-picker'>
              <h6>Date Range:</h6>
              <input type='text' name='daterange' id='date-range' value=''/>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-8'>
        <div id='normals-plot'></div>
      </div>
    </div>

    <!-- Weather Station Info and Temp Table -->
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-8'></div>
    </div>

  </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  
  <!-- Date Picker Scripts-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <!-- Custom JS -->
  <script type="text/javascript" charset="utf8" src="../static/js/indexlogic.js"></script>

<!-- Load in navbar -->
<script>
  $(function () {
    $("#nav-placeholder").load("/nav");
  });
  </script>

</body>

</html>